.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  .current {
    background: #04292e;
  }
  .current,
  .next,
  .prev {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #495057;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: #e3f2fd;
    }
  }
}

img {
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}
::ng-deep {
  .table > :not(caption) > * > * {
    padding: 0;
  }
}
.table-wrapper {
  padding: 0;
  .my-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 769px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .back-name-create {
    display: flex;
    align-items: center;
    gap: 13px;
    i {
      cursor: pointer;
    }
    button {
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background: rgba(35, 177, 45, 0.2);
      /* opacity: 0.2; */
      display: flex;
      align-items: center;
      justify-content: center;
      color: #23b131;
      cursor: pointer;

      i {
        font-size: 14px;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 769px) {
      flex-direction: column;
      width: 100%;
    }
    .export {
      width: 48px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid var(--input-border);
      background: #f6f6f7;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    input {
      width: 200px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid var(--input-border);
      padding-left: 40px;
      color: #838e99;
      /* font-family: SF Pro Display; */
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 769px) {
        width: 100%;
      }
    }
    .search-btn {
      width: 100px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 6px;
      background: var(--primary-color);
      color: #fff;
      @media (max-width: 769px) {
        width: 100% !important;
      }
    }
  }
  .crud-actions {
    display: flex;
    gap: 7px;
    padding: 0 10px;
    button {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      margin: 0;
      cursor: pointer;
    }
    .delete {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
}
h3 {
  margin: 0 !important;
}
.type-filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.type-filter-btns button:first-child {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 48%;
  height: 30px;
  background: #fff;
  color: var(--primary-color);
  text-align: center;
  font-size: 11px;
  margin: 0;
}
.type-filter-btns button:last-child {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 48%;
  height: 30px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 11px;
  margin: 0;
}
.back-name-create {
  .name {
    display: flex;
    align-items: center;
    gap: 20px;
    h3 {
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.send {
  min-width: 100px;
  height: 36px;
  padding: 0 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  p {
    font-size: 16px;
    font-weight: 500;
  }
  img {
    width: 15px;
  }
}
.empty-image {
  flex-direction: column;
  display: flex
;
  padding: 48px 0;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: #F9F9F9;
  .icon{
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: #10555E;
    h4{
      color: #323232;
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 31.2px */
    }
    p{
      color: #4C4C4C;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  .current {
    background: #04292e;
  }
  .current,
  .next,
  .prev {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #495057;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: #e3f2fd;
    }
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.count {
  display: flex;
  gap: 50px;
}
.type-filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.type-filter-btns button:first-child {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 48%;
  height: 30px;
  background: #fff;
  color: var(--primary-color);
  text-align: center;
  font-size: 11px;
  margin: 0;
}
.type-filter-btns button:last-child {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 48%;
  height: 30px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 11px;
  margin: 0;
}
.revenue-btn {
  display: flex;
  width: 60px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #bc0808;
}
.p-input-icon-left {
  position: relative;
  display: flex;
  align-items: center;
  @media (max-width: 769px) {
    width: 100%;
  }
  i {
    position: absolute;
    left: 10px;
  }
}
button.charge {
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--primary-color);
  color: #fff;
}
::ng-deep {
  .p-datatable .p-datatable-tbody > tr.selected{
    background: #F6FDFB !important;
  }
  .table-wrapper .p-datatable .p-datatable-thead > tr > th {
    padding: 20px 16px !important;
    color: #416267 !important;
    font-family: Poppins;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
  }
  .table-wrapper .p-datatable .p-datatable-tbody > tr > td {
    padding: 10px 16px !important;
    p {
      color: #4c4c4c !important;
      font-family: Poppins;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 400 !important;
      line-height: normal;
    }
  }
  .table-wrapper .p-datatable .p-paginator-bottom {
    border: none;
  }
  .table-wrapper .p-datatable-header {
    padding: 0 !important;
  }
  .table-wrapper .crud-actions {
    padding: 0 !important;
    max-width: 150px;
  }
}
.checkbox{
  width: 100%;
  height: 100%;
  display: flex
;
  align-items: center;
  justify-content: center;
  input{
    width: 16px;
    height: 16px;
  }
}
.btns{
  button{
    display: flex;
    padding: 6px 24px;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid #F5F6F7;
    background: #FCFCFC;
    height: 33px;
    color: #0E272D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

