.wrapper{
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.divider {
  margin: 1.5rem 0;
  width: 2rem;
  height: 0.125rem;
  background-color: #515d6d;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.mb-8, .my-8 {
  margin-bottom: 3rem !important;
}
.container{
  max-width: 1140px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-group {
  margin-bottom: 1rem;
}
.form-row .col-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.form-control-soft-light {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
}
input{
  height: 44px;
}
input::placeholder {
  color: #FFF;
}
textarea::placeholder {
  color: #FFF;
}
textarea{
  min-height: 188px;
  resize:none;
}
.btn-soft-white {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-color: transparent;
}
button{
  width: 150px;
  height: 44px;
}
@media (max-width: 768px) {
  .col-lg-9{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
p{
  margin-bottom: 16px !important ;
  color:#fff;
}
