<div class="wrapper d-flex">
  <div class="container align-self-center text-white">
    <div class="row mb-8 text-center heading">
      <div class="col-12 col-lg-9 mx-lg-auto">
        <h2 class="h1 mb-4  animate__animated  animate__fadeInUp visible">Services</h2>
        <div class="divider bg-white mx-auto  animate__animated  animate__fadeInUp visible"></div>
        <p class="mb-0  animate__animated  animate__fadeInUp visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
    <div class="row items">
      <div class="col-12 col-lg-4 mb-7 mb-lg-0  animate__animated  animate__fadeInUp visible" style="animation-delay: 0.4s;" >
        <div class="icon-7x text-primary mb-4">
          <img src="timer.svg" alt="">
        </div>
        <h4 class="h5 mb-2">Launch Quickly</h4>
        <p class="mb-0">Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
      </div>

      <div class="col-12 col-lg-4 mb-7 mb-lg-0  animate__animated  animate__fadeInUp visible" style="animation-delay: 0.6s;" >
        <div class="icon-7x text-primary mb-4">
          <img src="brush.svg" alt="">
        </div>
        <h4 class="h5 mb-2">Stylish Design</h4>
        <p class="mb-0">Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
      </div>

      <div class="col-12 col-lg-4  animate__animated  animate__fadeInUp visible" style="animation-delay: 0.8s;" >
        <div class="icon-7x text-primary mb-4">
          <img src="book.svg" alt="">
        </div>
        <h4 class="h5 mb-2">Well Documented</h4>
        <p class="mb-0">Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
      </div>

    </div>
  </div>
</div>
