<div class="wrapper d-flex">
  <div class="container align-self-center text-white text-center">
    <h1 class="mb-4 animate__animated animate__fadeInUp visible">Simplify Debt, Amplify Growth</h1>
    <p class="mb-7 animate__animated animate__fadeInUp visible">Effortless debt collection for SMEs and startups. Manage payments, reduce delays, and improve cash flow—all in one platform.</p>
    <div class="btns">
      <button class="btn btn-primary mr-3 scrollto animate__animated animate__fadeInUp visible btn1">Learn more</button>
      <button class="btn btn-soft-white scrollto animate__animated animate__fadeInUp visible">Subscribe</button>
    </div>
  </div>
</div>
<!--animate__animated animate__fadeInUp-->
