.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  .crumbs {
    display: flex;
    align-items: center;
    gap: 4px;
    p {
      color: #a3a3a3;
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &.green {
        color: #395;
      }
    }
  }

  .form {
    display: flex;
    width: 100%;
    max-width: 716px;
    padding: 25px 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid #F4F4F4;
    background: #FFF;
    .heading{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      gap: 4px;
      align-self: stretch;
      .txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
      }
      h3{
        color: #02191C;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 38.4px */
      }
      p{
        color: #02191C;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      button{
        border-radius: 12px;
        border: 1px solid #E7E7E7;
        background: #FBFBFB;
        display: flex;
        padding: 6px 16px;
        align-items: center;
        gap: 6px;
        width: 78px;
        height: 33px;
        color: #03181D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .line{
      height: 2px;
      width: 100%;
      background:#F4F4F4;
    }
    .row {
      width: 100%;
      .input-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        width: 100%;
        @media (max-width: 769px) {
          width: 100%;
        }

        label {
          color: #90928d;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    ::ng-deep {
      .p-select .p-select-overlay {
        max-width: 100%;
      }
      .p-select-option {
        white-space: normal;
      }
      .p-editor .p-editor-content.ql-snow {
        height: 430px !important;
      }
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        display: flex;
        padding: 8px 16px;
        align-items: center;
        gap: 6px;
        border-radius: 12px;
        background: rgba(222, 90, 89, 0.10);
        color: #DE5A59;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 166px;
        height: 37px;
        justify-content: center;
        &.activate{
          background: rgba(25, 199, 154, 0.10);
          color: #137A5F;
        }
      }
    }
  }
}
::ng-deep{
  p-dropdown.invalid{
    border:none !important;
  }
}
